.navbar {
  border-bottom: 0;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.text-center {
  text-align: center;
}

.app-icon {
  height: 250px;
  border-radius: 50px;
  /* Shadow */
  -webkit-filter: drop-shadow(10px 10px 4px lightgrey);
  -moz-filter: drop-shadow(10px 10px 4px lightgrey);
  filter: drop-shadow(10px 10px 4px lightgrey);
  @extend .noselect;
}
